/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap");
/*VARIABLES*/
/*Colors*/
/*Screens*/
/*Global Styles*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

/*Styles*/
/*INTRO*/
.intro .intro-content {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-color: #393737;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999;
  /*display: none;*/
}

.intro .intro-content .hide {
  background: #393737;
  overflow: hidden;
}

.intro .intro-content .hide span {
  display: inline-block;
}

.intro .intro-content #logo-main {
  width: 35vw;
  height: auto;
}

.intro .intro-content .slider {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-color: #686464;
  position: fixed;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  z-index: 999;
  /*display: none;*/
}

/*MAIN CONTENT*/
.main {
  width: 100%;
  height: 100%;
  min-height: 900px;
  position: relative;
  background-color: #393737;
}

.main #home {
  width: 100%;
  height: 100%;
  min-height: 900px;
}

.main #home #logo-main {
  width: 25vw;
  height: auto;
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main #home #sitio-en-construccion {
  font-family: "Lexend Tera", sans-serif;
  text-transform: uppercase;
  color: #E4E4DD;
  font-size: 2vw;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main #home .span-1 {
  width: 100%;
  height: 0.2vh;
  border-radius: 1em;
  background-color: #E4E4DD;
  position: absolute;
  top: 30%;
}

.main #home #text-home-2 {
  font-family: "Lexend Tera", sans-serif;
  text-transform: uppercase;
  color: #E4E4DD;
  font-size: 2.5vw;
  width: 100%;
  position: absolute;
  top: 32.5%;
  padding-left: 5vw;
  padding-right: 5vw;
}

.main #home #text-home-3 {
  font-family: "Lexend Tera", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #E4E4DD;
  font-size: 1.1vw;
  position: absolute;
  top: 46%;
  left: 0%;
  padding-left: 5vw;
  padding-right: 5vw;
}

.main #home .span-2 {
  width: 100%;
  height: 0.2vh;
  border-radius: 1em;
  background-color: #E4E4DD;
  position: absolute;
  top: 58%;
}

.main #home #text-home-4 {
  font-family: "Lexend Tera", sans-serif;
  text-transform: uppercase;
  color: #E4E4DD;
  font-size: 2.5vw;
  width: 100%;
  position: absolute;
  top: 60%;
  padding-left: 5vw;
  padding-right: 5vw;
}

.main #home #text-home-5 {
  font-family: "Lexend Tera", sans-serif;
  font-weight: 400;
  color: #E4E4DD;
  font-size: 1vw;
  position: absolute;
  top: 67.5%;
  left: 0%;
  padding-left: 5vw;
  padding-right: 5vw;
}

.main #home .span-3 {
  width: 80vw;
  height: 0.1vh;
  border-radius: 1em;
  background-color: #E4E4DD;
  position: absolute;
  top: 95%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-left: 5vw;
  padding-right: 5vw;
}

.main #home .footer .footer-text {
  font-family: "Lexend Tera", sans-serif;
  font-size: 0.5vw;
  font-weight: 400;
  text-transform: uppercase;
  color: #E4E4DD;
  font-size: 0.4vw;
  position: absolute;
  top: 97%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 900px) and (max-width: 1024px) {
  .main {
    min-height: 650px;
  }
  .main #home #logo-main {
    width: 40vw;
  }
  .main #home #sitio-en-construccion {
    font-size: 2vw;
    text-align: center;
  }
  .main #home #text-home-2 {
    font-size: 2.5vw;
    text-align: center;
  }
  .main #home #text-home-3 {
    font-size: 1.5vw;
    text-align: center;
  }
  .main #home #text-home-4 {
    font-size: 3vw;
    text-align: center;
  }
  .main #home #text-home-5 {
    font-size: 2vw;
  }
}

@media (min-width: 834px) and (max-width: 900px) {
  .main {
    min-height: 720px;
  }
  .main #home #logo-main {
    width: 45vw;
  }
  .main #home #sitio-en-construccion {
    font-size: 4vw;
    text-align: center;
  }
  .main #home #text-home-2 {
    font-size: 3.2vw;
    text-align: center;
  }
  .main #home #text-home-3 {
    font-size: 1.7vw;
    text-align: center;
  }
  .main #home #text-home-4 {
    font-size: 3vw;
    text-align: center;
  }
  .main #home #text-home-5 {
    font-size: 2vw;
  }
}

@media (min-width: 600px) and (max-width: 834px) {
  .main #home #logo-main {
    width: 50vw;
  }
  .main #home #sitio-en-construccion {
    font-size: 4vw;
    text-align: center;
  }
  .main #home #text-home-2 {
    font-size: 3.2vw;
    text-align: center;
  }
  .main #home #text-home-3 {
    font-size: 1.5vw;
    text-align: center;
  }
  .main #home #text-home-4 {
    font-size: 3.5vw;
    text-align: center;
  }
  .main #home #text-home-5 {
    font-size: 2vw;
  }
}

@media (min-width: 414px) and (max-width: 600px) {
  .main #home #logo-main {
    width: 55vw;
  }
  .main #home #sitio-en-construccion {
    font-size: 4vw;
    text-align: center;
  }
  .main #home #text-home-2 {
    font-size: 3.2vw;
    text-align: center;
  }
  .main #home #text-home-3 {
    font-size: 1.5vw;
    text-align: center;
  }
  .main #home #text-home-4 {
    font-size: 1.5vw;
    text-align: center;
  }
  .main #home #text-home-5 {
    font-size: 2vw;
  }
}

@media (min-width: 375px) and (max-width: 414px) {
  .main #home #logo-main {
    width: 60vw;
  }
  .main #home #sitio-en-construccion {
    font-size: 4vw;
    text-align: center;
  }
  .main #home #text-home-2 {
    font-size: 3.2vw;
    text-align: center;
  }
  .main #home #text-home-3 {
    font-size: 4vw;
    text-align: center;
  }
  .main #home #text-home-4 {
    font-size: 3vw;
    text-align: center;
  }
  .main #home #text-home-5 {
    font-size: 2vw;
  }
}

@media (min-width: 360px) and (max-width: 375px) {
  .main #home #logo-main {
    width: 65vw;
  }
  .main #home #sitio-en-construccion {
    font-size: 4vw;
    text-align: center;
  }
  .main #home #text-home-2 {
    font-size: 4vw;
    text-align: center;
  }
  .main #home #text-home-3 {
    font-size: 3vw;
    text-align: center;
  }
  .main #home #text-home-4 {
    font-size: 3vw;
    text-align: center;
  }
  .main #home #text-home-5 {
    font-size: 2vw;
  }
}

@media (min-width: 300px) and (max-width: 360px) {
  .main {
    min-height: 500px;
  }
  .main #home #logo-main {
    width: 70vw;
  }
  .main #home #sitio-en-construccion {
    font-size: 4vw;
    text-align: center;
  }
  .main #home #text-home-2 {
    font-size: 4vw;
    text-align: center;
  }
  .main #home #text-home-3 {
    font-size: 3vw;
    text-align: center;
  }
  .main #home #text-home-4 {
    font-size: 3vw;
    text-align: center;
  }
  .main #home #text-home-5 {
    font-size: 2vw;
  }
}
/*# sourceMappingURL=style.css.map */