/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap');
/*VARIABLES*/
/*Colors*/
$white-main: #E4E4DD;
$black-main: #393737;
$black-shade: #686464;
$font-main: 'Lexend Tera', sans-serif;
/*Screens*/
$apple-watch: 184px;
$mobile0: 300px;
$mobile1: 360px;
$mobile2: 375px;
$mobile3: 414px;
$mobile4: 600px;
$tablet1: 834px;
$tablet2: 900px;
$desktop-4-3: 1024px;

/*Global Styles*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{    
    height: 100%;    
    overflow: hidden;
    overflow-y: auto;
}
/*Styles*/
/*INTRO*/
.intro{
    .intro-content{
        width: 100vw;
        height: 100vh;
        max-width: 100%;
        background-color: $black-main;     
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;     
        /*display: none;*/
        .hide{
            background: $black-main;
            overflow: hidden;
            span{            
                display: inline-block;
            }
        }
        #logo-main{
            width: 35vw;
            height: auto;
        }
        .slider{
            width: 100vw;
            height: 100vh;
            max-width: 100%;
            background-color: $black-shade;                
            position: fixed;
            transform: translateY(100%);
            z-index: 999;
            /*display: none;*/
        }
    }
}
/*MAIN CONTENT*/
.main{
    width: 100%;
    height: 100%;
    min-height: 900px;
    position: relative;
    background-color: $black-main;    
    #home{
        width: 100%;
        height: 100%;
        min-height: 900px;        
        #logo-main{
            width: 25vw;
            height: auto;
            position: absolute;
            top: 15%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        #sitio-en-construccion{
            font-family: $font-main;
            text-transform: uppercase;
            color: $white-main;
            font-size: 2vw;
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .span-1{            
            width: 100%;
            height: 0.2vh;        
            border-radius: 1em;
            background-color: $white-main;
            position: absolute;
            top: 30%;
        }        
        #text-home-2{
            font-family: $font-main;
            text-transform: uppercase;
            color: $white-main;
            font-size: 2.5vw;
            width: 100%;
            position: absolute;
            top: 32.5%;
            padding-left: 5vw;
            padding-right: 5vw;
        }
        #text-home-3{
            font-family: $font-main;
            font-weight: 400;
            text-transform: uppercase;
            color: $white-main;
            font-size: 1.1vw;
            position: absolute;
            top: 46%;
            left: 0%;        
            padding-left: 5vw;    
            padding-right: 5vw;
        }
        .span-2{
            width: 100%;
            height: 0.2vh;                
            border-radius: 1em;
            background-color: $white-main;
            position: absolute;
            top: 58%;
        }
        #text-home-4{
            font-family: $font-main;
            text-transform: uppercase;
            color: $white-main;
            font-size: 2.5vw;
            width: 100%;
            position: absolute;
            top: 60%;
            padding-left: 5vw;
            padding-right: 5vw;
        }
        #text-home-5{
            font-family: $font-main;
            font-weight: 400;            
            color: $white-main;
            font-size: 1vw;
            position: absolute;
            top: 67.5%;
            left: 0%;        
            padding-left: 5vw;    
            padding-right: 5vw;            
        }             
        .span-3{
            width: 80vw;
            height: 0.1vh;        
            border-radius: 1em;
            background-color: $white-main;
            position: absolute;
            top: 95%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding-left: 5vw;
            padding-right: 5vw;
        }
        .footer{
            .footer-text{
                font-family: $font-main;
                font-size: 0.5vw;
                font-weight: 400;
                text-transform: uppercase;
                color: $white-main;
                font-size: 0.4vw;
                position: absolute;
                top: 97%;
                left: 50%;
                transform: translate(-50%, -50%);                             
            }
        }
    }
}

@media (min-width: $tablet2) and (max-width: $desktop-4-3){
    .main{
        min-height: 650px;
        #home{
            #logo-main{
                width: 40vw;
            }
            #sitio-en-construccion{
                font-size: 2vw;
                text-align: center;
            }
            #text-home-2{
                font-size: 2.5vw;
                text-align: center;
            }
            #text-home-3{
                font-size: 1.5vw;
                text-align: center;
            }
            #text-home-4{
                font-size: 3vw;
                text-align: center;
            }
            #text-home-5{
                font-size: 2vw;                
            }
        }
    }
}
@media (min-width: $tablet1) and (max-width: $tablet2){
    .main{
        min-height: 720px;
        #home{
            #logo-main{
                width: 45vw;
            }
            #sitio-en-construccion{
                font-size: 4vw;
                text-align: center;
            }
            #text-home-2{
                font-size: 3.2vw;
                text-align: center;
            }
            #text-home-3{
                font-size: 1.7vw;
                text-align: center;
            }
            #text-home-4{
                font-size: 3vw;
                text-align: center;
            }
            #text-home-5{
                font-size: 2vw;                
            }
        }
    }
}
@media (min-width: $mobile4) and (max-width: $tablet1){
    .main{
        #home{
            #logo-main{
                width: 50vw;
            }
            #sitio-en-construccion{
                font-size: 4vw;
                text-align: center;
            }
            #text-home-2{
                font-size: 3.2vw;
                text-align: center;
            }
            #text-home-3{
                font-size: 1.5vw;
                text-align: center;
            }
            #text-home-4{
                font-size: 3.5vw;
                text-align: center;
            }
            #text-home-5{
                font-size: 2vw;                
            }
        }
    }
}
@media (min-width: $mobile3) and (max-width: $mobile4){
    .main{
        #home{
            #logo-main{
                width: 55vw;
            }
            #sitio-en-construccion{
                font-size: 4vw;
                text-align: center;
            }
            #text-home-2{
                font-size: 3.2vw;
                text-align: center;
            }
            #text-home-3{
                font-size: 1.5vw;
                text-align: center;
            }
            #text-home-4{
                font-size: 1.5vw;
                text-align: center;
            }
            #text-home-5{
                font-size: 2vw;                
            }
        }
    }
}
@media (min-width: $mobile2) and (max-width: $mobile3){
    .main{
        #home{
            #logo-main{
                width: 60vw;
            }
            #sitio-en-construccion{
                font-size: 4vw;
                text-align: center;
            }
            #text-home-2{
                font-size: 3.2vw;
                text-align: center;
            }
            #text-home-3{
                font-size: 4vw;
                text-align: center;
            }
            #text-home-4{
                font-size: 3vw;
                text-align: center;
            }
            #text-home-5{
                font-size: 2vw;                
            }
        }
    }
}
@media (min-width: $mobile1) and (max-width: $mobile2){
    .main{
        #home{
            #logo-main{
                width: 65vw;
            }
            #sitio-en-construccion{
                font-size: 4vw;
                text-align: center;
            }
            #text-home-2{
                font-size: 4vw;
                text-align: center;
            }
            #text-home-3{
                font-size: 3vw;
                text-align: center;
            }
            #text-home-4{
                font-size: 3vw;
                text-align: center;
            }
            #text-home-5{
                font-size: 2vw;                
            }
        }
    }
}
@media (min-width: $mobile0) and (max-width: $mobile1){
    .main{
        min-height: 500px;
        #home{            
            #logo-main{
                width: 70vw;
            }
            #sitio-en-construccion{
                font-size: 4vw;
                text-align: center;
            }
            #text-home-2{
                font-size: 4vw;
                text-align: center;
            }
            #text-home-3{
                font-size: 3vw;
                text-align: center;
            }
            #text-home-4{
                font-size: 3vw;
                text-align: center;
            }
            #text-home-5{
                font-size: 2vw;                
            }
        }
    }
}